In [1]:
import numpy as np 
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras import metrics
from keras import regularizers
import seaborn as sns
import matplotlib.pyplot as plt
import keras
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import IsolationForest
from tensorflow import random as tf_random
from tensorflow.keras.optimizers import Adam

# ignore Warning
import warnings
warnings.filterwarnings("ignore")

Using TensorFlow backend.

In [2]:
%store
%store -r 
quan

Stored variables and their in-db values:
quan             -> Index(['LotFrontage', 'LotArea', 'OverallQual', 'O

Index(['LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea',
       'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr',
       'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt',
       'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'Alley', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1',
       'BsmtFinType2', 'BsmtQual', 'ExterCond', 'ExterQual', 'FireplaceQu',
       'Functional', 'GarageCond', 'GarageQual', 'HeatingQC', 'KitchenQual',
       'LandSlope', 'PavedDrive', 'PoolQC', 'Street', 'GarageFinish',
       'CentralAir'],
      dtype='object')

In [3]:
train = pd.read_csv('files_csv/trainkeras.csv',index_col=0)
test = pd.read_csv('files_csv/testkeras.csv',index_col=0)

In [4]:
df = pd.read_csv('files_csv/test.csv')
test_ID = df['Id']
test_ID

0       1461
1       1462
2       1463
3       1464
4       1465
        ...
1454    2915
1455    2916
1456    2917
1457    2918
1458    2919
Name: Id, Length: 1459, dtype: int64


####  Travail sur les features réalisé , get_dummies , prix log1p

In [5]:
print(f' train shape {train.shape}')
print(f' test shape {test.shape}')

 train shape (1444, 219)
 test shape (1459, 218)

In [6]:
train.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BsmtCond,BsmtExposure,BsmtFinSF1,BsmtFinSF2,BsmtFinType1,...,MSSubClass_class16,MSSubClass_class2,MSSubClass_class3,MSSubClass_class4,MSSubClass_class5,MSSubClass_class6,MSSubClass_class7,MSSubClass_class8,MSSubClass_class9,SalePrice
0,856,854,0,0,3,3,1,706.0,0.0,6,...,0,0,0,0,0,1,0,0,0,12.247699
1,1262,0,0,0,3,3,4,978.0,0.0,5,...,0,0,0,0,0,0,0,0,0,12.109016
2,920,866,0,0,3,3,2,486.0,0.0,6,...,0,0,0,0,0,1,0,0,0,12.317171
3,961,756,0,0,3,4,1,216.0,0.0,5,...,0,0,0,0,0,0,1,0,0,11.849405
4,1145,1053,0,0,4,3,3,655.0,0.0,6,...,0,0,0,0,0,1,0,0,0,12.429220

In [7]:
test.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BsmtCond,BsmtExposure,BsmtFinSF1,BsmtFinSF2,BsmtFinType1,...,MSSubClass_class15,MSSubClass_class16,MSSubClass_class2,MSSubClass_class3,MSSubClass_class4,MSSubClass_class5,MSSubClass_class6,MSSubClass_class7,MSSubClass_class8,MSSubClass_class9
1444,896,0,0,0,2,3,1,468.0,144.0,3,...,0,0,0,0,0,0,0,0,0,0
1445,1329,0,0,0,3,3,1,923.0,0.0,5,...,0,0,0,0,0,0,0,0,0,0
1446,928,701,0,0,3,3,1,791.0,0.0,6,...,0,0,0,0,0,0,1,0,0,0
1447,926,678,0,0,3,3,1,602.0,0.0,6,...,0,0,0,0,0,0,1,0,0,0
1448,1280,0,0,0,2,3,1,263.0,0.0,5,...,0,0,0,0,0,0,0,0,0,0

#### X_train , y_train , X_test

In [8]:
target_column = 'SalePrice'
y_train_full = train[target_column].values
X_train_full = train.drop(target_column, axis=1).values
X_test = test.values

il nous faut les features qui n'ont pas été one hot encodé pour le scale

In [9]:
X_train_quan = train[quan].values
X_test_quan = test[quan].values

#### Seed

In [10]:
from numpy import random as np_random
SEED = 42
np_random.seed(SEED)

#### Split du train full

In [11]:
X_train, X_val, y_train, y_val = train_test_split(X_train_full, y_train_full)

#### Split du train_quan

In [12]:
X_train_quan, X_val_quan, y_train, y_val = train_test_split(X_train_quan, y_train_full)

#### Scale
On scale les dummies ou non ?

In [13]:
scaler_X = StandardScaler()
scaler_X.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [14]:
X_train_scaled = scaler_X.transform(X_train)
X_val_scaled = scaler_X.transform(X_val)
X_test_scaled = scaler_X.transform(X_test)

In [15]:
scaler_Y_log = StandardScaler()
scaler_Y_log.fit(y_train.reshape(-1,1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
y_train_log_scaled = scaler_Y_log.transform(y_train.reshape(-1,1))
y_val_log_scaled = scaler_Y_log.transform(y_val.reshape(-1,1))

#### Model

In [17]:
tf_random.set_seed(SEED)

In [18]:
n_input = X_train.shape[1]
def create_model():
    # create model
    model = Sequential()
    model.add(Dense(440,input_dim=n_input, kernel_initializer='normal', activation='relu', kernel_regularizer=regularizers.l1(0.01)))
#     model.add(Dense(220, kernel_initializer='normal', activation='relu',kernel_regularizer=regularizers.l1(0.01)))
#     model.add(Dense(110, kernel_initializer='normal', activation='relu',kernel_regularizer=regularizers.l1(0.01)))
    model.add(Dense(1, kernel_initializer='normal',kernel_regularizer=regularizers.l1(0.01)))
    # Compile model
    model.compile(loss='mean_squared_error', optimizer=keras.optimizers.Adadelta(learning_rate=0.001, rho=0.95))
    return model

In [19]:
model = create_model()
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 440)               96360
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 441
=================================================================
Total params: 96,801
Trainable params: 96,801
Non-trainable params: 0
_________________________________________________________________

In [20]:
history = model.fit(X_train_scaled, y_train_log_scaled, validation_data=(X_val_scaled,y_val_log_scaled), epochs=2000, batch_size=200)

ValueError: Error when checking input: expected dense_1_input to have shape (218,) but got array with shape (55,)

In [ ]:
pd.DataFrame(history.history).plot()
plt.grid(True)
plt.title('Model performance throughout training')
plt.ylabel('Loss')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='upper right')
plt.show()

#### Prédiction

In [ ]:
prediction_scaled = model.predict(X_test_scaled)

In [ ]:
log_prediction = scaler_Y_log.inverse_transform(prediction_scaled)
prediction = np.expm1(log_prediction)
prediction

In [ ]:
submission = pd.DataFrame()
submission['Id'] = test_ID
submission['SalePrice'] =  prediction
submission.to_csv('Keras-Allfeatures.csv', index=False)