### Régréssion Linéaire prix de vente en fonction de la surface habitable ( square feet )

In [77]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

df = pd.read_csv('train.csv', index_col=0)
print(df.shape)

(1460, 80)

In [78]:
print(df.columns.values)

['MSSubClass' 'MSZoning' 'LotFrontage' 'LotArea' 'Street' 'Alley'
 'LotShape' 'LandContour' 'Utilities' 'LotConfig' 'LandSlope'
 'Neighborhood' 'Condition1' 'Condition2' 'BldgType' 'HouseStyle'
 'OverallQual' 'OverallCond' 'YearBuilt' 'YearRemodAdd' 'RoofStyle'
 'RoofMatl' 'Exterior1st' 'Exterior2nd' 'MasVnrType' 'MasVnrArea'
 'ExterQual' 'ExterCond' 'Foundation' 'BsmtQual' 'BsmtCond' 'BsmtExposure'
 'BsmtFinType1' 'BsmtFinSF1' 'BsmtFinType2' 'BsmtFinSF2' 'BsmtUnfSF'
 'TotalBsmtSF' 'Heating' 'HeatingQC' 'CentralAir' 'Electrical' '1stFlrSF'
 '2ndFlrSF' 'LowQualFinSF' 'GrLivArea' 'BsmtFullBath' 'BsmtHalfBath'
 'FullBath' 'HalfBath' 'BedroomAbvGr' 'KitchenAbvGr' 'KitchenQual'
 'TotRmsAbvGrd' 'Functional' 'Fireplaces' 'FireplaceQu' 'GarageType'
 'GarageYrBlt' 'GarageFinish' 'GarageCars' 'GarageArea' 'GarageQual'
 'GarageCond' 'PavedDrive' 'WoodDeckSF' 'OpenPorchSF' 'EnclosedPorch'
 '3SsnPorch' 'ScreenPorch' 'PoolArea' 'PoolQC' 'Fence' 'MiscFeature'
 'MiscVal' 'MoSold' 'YrSold' 'SaleType' 'SaleCondition' 'SalePrice']

In [79]:
partial_df = df[['GrLivArea','SalePrice']]
partial_df.head(5)

    GrLivArea  SalePrice
Id
1        1710     208500
2        1262     181500
3        1786     223500
4        1717     140000
5        2198     250000

### Split du dataset initial train/val

In [80]:
train, val=train_test_split(partial_df, test_size=0.3)

print("Train full shape: " + str(partial_df.shape))
print("Train shape: " + str(train.shape))
print("Val shape: " + str(val.shape))

Train full shape: (1460, 2)
Train shape: (1022, 2)
Val shape: (438, 2)

### Préparation train set et val set

In [81]:
target_column = 'SalePrice'
y_train = train[target_column].values
print(y_train)

[244400 126000 160000 ...  88000 154900 173000]

In [82]:
X_train = train.drop(target_column, axis=1).values
print(X_train)

[[2403]
 [ 990]
 [5642]
 ...
 [1015]
 [1343]
 [1640]]

In [83]:
X_val = val.drop(target_column, axis=1).values
y_val = val[target_column].values

### Modèle

In [84]:
simplelinearRegression = LinearRegression()
simplelinearRegression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

### Test du modele avec une surface au hasard
Maison de 2000 pieds carré ( 185m² )

In [85]:
dict = {
    "GrLivArea" : [2000]
}

In [86]:
df_house = pd.DataFrame(dict)
df_house

   GrLivArea
0        100

In [87]:
X_predict = df_house.values
print(X_predict)

# Pas vraiment utile de refaire un dataframe , on peut directement faire 
# y_predict = simplelinearRegression.predict([[2000]])

y_predict = simplelinearRegression.predict(X_predict)
price = y_predict[0]
print(f"Le modele prédit un prix de {np.around(price)} $")

[[100]]
Le modele prédit un prix de 41062.0 $

In [88]:
# import matplotlib.pyplot as plt



# plt.rcParams['figure.figsize'] = [9.5 , 6]
# plt.xlabel("Surface")
# plt.ylabel("Prix")
# plt.plot(partial_df['GrLivArea'],partial_df['SalePrice'], color="blue")
# plt.legend(loc="lower right")
# plt.show()